/* App.css */

.delete-confirmation-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    width: 80%; /* Set your desired width */
    max-width: 600px; /* Set your desired maximum width */
    max-height: 80vh; /* Set your desired maximum height (in viewport height) */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    text-align: center; /* Center the contents */
  }
  
  .modal-content {
    margin-bottom: 20px; /* Add space at the bottom */
  }
  
  .modal-buttons {
    display: flex;
    justify-content: center;
  }
  
  .confirm-button,
  .cancel-button {
    background-color: #e84646;
    color: white;
    padding: 12px 24px; /* Increase button padding for larger buttons */
    border: none;
    border-radius: 4px;
    margin: 0 8px; /* Add spacing between buttons */
    cursor: pointer;
  }
  
  .cancel-button {
    background-color: #b8b6b6;
  }
  